// GIANT GOLDFISH
$goldfish-blue:      #69D2E7;
$goldfish-lightblue: #A7DBD8;
$goldfish-taupe:     #E0E4CC;
$goldfish-orange:    #F38630;
$goldfish-redorange: #FA6900;

// TERRA
$terra-taupe:        #E8DDCB;
$terra-sand:         #CDB380;
$terra-forest:       #036564;
$terra-deepblue:     #033649;
$terra-midnight:     #031634;
