@import "normalize.css";
@import "colors.scss";
@import "mixins.scss";

// bower:scss
// endbower

// http://pltts.me/

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, $goldfish-blue, $goldfish-orange);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.content-block {
  background-color: rgba(228, 228, 228, .9);
  padding: 1em 1.5em;
  margin: 1em;
}

.photo-block {
  height: 615px;
  overflow: hidden;
  position: relative;
  width: 615px;
}

.hue-rotator {
  -webkit-animation: hue 10s infinite;
  opacity: .8;
}

@-webkit-keyframes hue {
  0%, 100%  {
    -webkit-filter: hue-rotate(0deg) blur(40px);
  }
  50% { -webkit-filter: hue-rotate(160deg) blur(40px);
  }
}

.shadow-depth-1 { @include card(1); }
.shadow-depth-2 { @include card(2); }
.shadow-depth-3 { @include card(3); }
.shadow-depth-4 { @include card(4); }
.shadow-depth-5 { @include card(5); }
