@import "normalize.css";
@import "colors.scss";
@import "mixins.scss";

// bower:scss
// endbower

// http://pltts.me/

html, body {
  height: 100%;
}

body {
  background: url('../images/space.jpg') no-repeat;
  background-position: right;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0;
  transition: opacity 2.5s cubic-bezier(0.86, 0, 0.07, 1);

  &.ready {
    opacity: 1;
  }
}
.debugger {
  background-color: rgba(228, 228, 228, .9);
  position: fixed;
  padding: 1em;
  top: 1em;
  right: 1em;
  z-index: 3;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  z-index: 2;
}

.desert-layer {
  background: url('../images/desert-4.png') no-repeat;
  background-position: 0 0;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.gradient-layer {
  background: linear-gradient(to bottom, $goldfish-redorange, $terra-midnight, $goldfish-blue);
  bottom: 30%;
  left: 0;
  opacity: .85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content-block {
  background-color: rgba(228, 228, 228, .9);
  padding: 1.5em;
  z-index: 3;
}

.triangle-hole {
  bottom: 5em;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  left: calc(50% - 185px);
  position: absolute;
  transform: scale(0);
  transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
  transform-origin: bottom;
  z-index: 3;

  &.in {
    transform: scale(1);
  }
}

@include mobile {
  .triangle-hole {
    bottom: 1em;
    left: 5%;
    position: absolute;
    transform: scale(0);
    transition: all .35s cubic-bezier(0.86, 0, 0.07, 1);
    transform-origin: bottom;
    z-index: 3;
    width: 90%;
  }
}


.shadow-depth-1 { @include card(1); }
.shadow-depth-2 { @include card(2); }
.shadow-depth-3 { @include card(3); }
.shadow-depth-4 { @include card(4); }
.shadow-depth-5 { @include card(5); }
